<div class="info-group" *ngIf="snippet">
    <div *ngIf="!snippet.isCreating">
        <div><span class="label">Created by&nbsp;</span>{{snippet.name}}</div>
        <div><span class="label">Last Modified&nbsp;</span>{{snippet.timestamp}}</div>
        <div><span class="label">Snippet ID&nbsp;</span>{{snippet.id}}</div>
    </div>
    <div *ngIf="snippet.isCreating">
        <mat-form-field>
            <mat-label>Creator Name</mat-label>
            <input matInput [(ngModel)]="snippet.name" placeholder="Creator">
        </mat-form-field>
    </div>
    <mat-form-field >
        <mat-label>Info</mat-label>
        <textarea matInput 
            [disabled]="!(snippet.isCreating || isCreator)"
            [(ngModel)]="snippet.info" 
            placeholder="Add Some Details...." > </textarea >
    </mat-form-field>
    <app-language-selector [(selected)]="snippet.language"
                           (languageChanged)="onLanguageChanged($event)">
    </app-language-selector>        
</div>
