<!-- This component is not its own page. it is to be inserted to the snippet view dynamically -->

<div class="container border bg-secondary" style="height: 200px; width: 500;">
    <!--Comment metadata-->
    <div class="row">
        <div class="col-md-10">
            <label>userName:</label> &nbsp; Joe User<br>
            <label>uuid:</label> &nbsp; f14fe-4rf2-31dt-134fvcewwry52c<br>
            <label>region:</label> &nbsp; line 1 col 2 - line<br>
        </div>
        <div class="col-md-2">
            <button>X</button>
        </div>
    </div>
    <!-- Comment -->
    <div class="row border">
        <div class="col-md-5" style="height: 100px">
            <label>Comment:</label>
            <br>
            <p>Code snippet goes in here...</p>
        </div>
    </div>
</div>