/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~codemirror/theme/eclipse';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-error {
    background: rgb(236, 182, 182);
    color: rgb(87, 41, 41);
}

.snackbar-error .mat-simple-snackbar-action  {
    color: rgb(59, 28, 28);
}

.snackbar-message {
    background: rgb(187, 235, 187);
    color:rgb(43, 90, 43);
}

.snackbar-message  .mat-simple-snackbar-action  {
    color:rgb(28, 56, 28);
}

.editor-comment-region { 
    background-color: #f0f066; 
}