mat-card {
    width: 100%;
    height: 75px;
}

mat-form-field {
    height: 50px;
    font-size: 10px;
}

mat-raised-button {
    height: 200px;
}

.goto {
    float: left;
}

.pagenav {
    float: right;
}
