mat-toolbar {
    background-color: rgb(190, 184, 184);
}

mat-form-field {
    height: 50px;
    font-size: 12px;
}

mat-raised-button {
    height: 200px;
}

.spacer {
    flex: 1 1 auto;
}