<div style="min-width: 100%; min-height: 1000px;"  class="container bg-dark text-white">

    <h4>Welcome to Euterpe Snippet System</h4>

    <div class="row">

        <!--Navigate to Snippet, and admin controls-->
        <div class="col-lg-6 border">
            <div class="row">
                <div class="col-sm-4 border">
                    <label>Go to a snippet</label>
                    <br>
                    <label>Snip ID:</label> &nbsp;
                    <input type="text">
                    <br>
                    <button class="button">GO!</button>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 border">
                    <button>View All Snippets</button>
                </div>
            </div>
        </div>

        <!--create new snippet form-->
        <div class="col-lg-6 border">
            <h2>Create a new snippet:</h2>
            <form [formGroup]="newSnipForm" (ngSubmit)="createSnippet();">
                <div id="info" class="row border">
                    <label>User Name: </label> &nbsp;
                    <input type="text" class="bg-secondary">
                    <br><br>
                    <label>Snippet Info:</label>
                    <br>
                    <textarea rows="3" cols="50" style="min-width: 100%" class="bg-secondary">Enter some information about your snippet here...</textarea>
                    <br><br>

                    <label>Language:</label> &nbsp; 
                    <select name="Language">
                        <option *ngFor="let lang of LanguageTypeEnum.values();">
                            {{lang}}
                        </option>
                    </select>
                    <br><br>
                </div>
                <div id="codeSnippet" class="row border">
                    <label>Code Snippet:</label>
                    <br>
                    <textarea rows="10" cols="50" style="min-width: 100%" class="bg-secondary">Enter your code snippet here...</textarea>
                    <br><br>
                </div>

                <div id="submitSnippet">
                    <label>Password (optional):</label>
                    
                    <br>
                    <input type="text"> &nbsp;
                    <button class="button" type="submit">Create!</button>
                </div>
            </form>
        </div>
    </div>
</div>

