<div style="min-width: 100%; min-height: 1000px;"  class="container">
    <div class="row">
        <!--Navigate to Snippet, and admin controls-->
        <div class="col-lg-6">
            <h2>Welcome to Euterpe Snippet System</h2>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Go to a snippet</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="standard">
                                <mat-label>Snip ID</mat-label>
                                <input matInput [(ngModel)]=navSnippetId placeholder="ID">
                            </mat-form-field>  
                        </mat-card-content>
                        <mat-card-actions>
                            <div [ngClass]="{'diabled-links': navSnippetId.length === 0}">
                                <button mat-raised-button color=primary
                                   [disabled]="navSnippetId.length === 0"
                                   routerLink="/snippet/{{navSnippetId}}">Go</button>                        
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button  mat-button>View All Snippets</button>
                </div>
            </div>
        </div>
        <!--create new snippet form-->
        <div class="col-lg-6">
            <h3>Create a new snippet:</h3>
            <app-snippet-panel [snippet]=blankSnippet></app-snippet-panel>
            <button mat-raised-button color=primary
            (click)="createSnippet()"
            >Create!</button> 
        </div>
    </div>
</div>

