<div style="min-width: 100%; min-height: 1000px;"  class="container">

    <h4>Welcome to Euterpe Snippet System</h4>

    <div class="row">

        <!--Navigate to Snippet, and admin controls-->
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Go to a snippet</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="standard">
                                <mat-label>Snip ID</mat-label>
                                <input matInput placeholder="ID">
                            </mat-form-field>  
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Go</button>                        
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button  mat-button>View All Snippets</button>
                </div>
            </div>
        </div>

        <!--create new snippet form-->
        <div class="col-lg-6">
            <h2>Create a new snippet:</h2>
            <form [formGroup]="newSnipForm" (ngSubmit)="createSnippet(newSnipForm.value);">
                <div id="info" class="row border">
                    <label>User Name: </label> &nbsp; <input type="text" class="bg-secondary" formControlName="username">
                    <br><br>
                    <label>Snippet Info:</label>
                    <br>
                    <textarea rows="3" cols="50" style="min-width: 100%" class="bg-secondary" formControlName="info">Enter some information about your snippet here...</textarea>
                    <br><br>

                    <app-language-selector></app-language-selector>
                    <br><br>
                </div>
                <div id="codeSnippet" class="row border">
                    <label>Code Snippet:</label>
                    <br>
                    <textarea rows="10" cols="50" style="min-width: 100%" class="bg-secondary" formControlName="content">Enter your code snippet here...</textarea>
                    <br><br>
                </div>

                <div id="submitSnippet">
                    <label>Password (optional):</label>
                    <br>
                    <input type="text" formControlName="password"> &nbsp;
                    <button class="button" type="submit">Create!</button>
                </div>
            </form>
        </div>
    </div>
</div>

