<!-- This is the admin page -->
<div class="container" *ngIf="showadmin">
    <div class="row">
        <div class="col-lg-1 "></div>
        <div class="col-lg-6 ">
            <h3>Admin - All Snippets</h3>
        </div>
        <div class="col-lg-1 "></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 snipTable">
            <ng-scrollbar>
                <div *ngFor="let snippet of allSnippets" class="tableItem">
                    <app-snippet-preview [snippet]=snippet (snippetDeleted)="getSnippets()"></app-snippet-preview>
                </div>
            </ng-scrollbar>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-3"></div>
        <div class="col-lg-4">
            <mat-form-field appearance="fill">
                <mat-label>Remove older than...</mat-label>                
                <input matInput [matDatepicker]="picker" [(ngModel)]="olderThanDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-2">
            <button mat-raised-button color="warn" (click)="removeOldSnippets()">Remove Old</button><br>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
