<!-- This is the admin page -->
<h4>Admin Page</h4>
<div class="Container" style="height: 1200px;">
    <div class="row">
        <div class="col-lg-11 border">
            <div name="snippetTable" class="col-lg-12 border tableFixHead" style="min-width: 100%; min-height: 400px;">
                <table>
                    <thead>
                        <tr>
                            <th>All Snippets:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- example snippet objects.. replace this with dynamically-generated list of snippets from DB -->
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Remove old snippet functionality -->
    <div class="Row">
        <div class="col-lg-5 border">
            <label>Remove Snippets:</label><br>
            <input type="number">
            <button>Remove Old</button><br>
            <p>remove all snippets older than input days</p>
        </div>
    </div>
</div>
