<!-- This is the admin page -->
<div class="Container">
    <div class="Row">
        <div class="col-lg-11 border">
            <div name="commentTable" class="col-lg-5 border tableFixHead" style="min-width: 1000px; min-height: 400px;">
                <table>
                    <thead>
                        <tr>
                            <th>All Snippets:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                        <tr>
                            <td><app-snippet-preview></app-snippet-preview></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="Row">
        <div class="col-lg-5 border bg-dark">
            <label>Remove Stale Snippets:</label>
            <label>TODO put a calander here...</label>
            <button>Remove Before</button>
        </div>
    </div>
</div>
