<!-- This component is the page that a user will view a snippet on -->
<div>
    <div class="row">
        <!-- Snippet pane -->
        <div class="col-lg-7 border">
            
            <!-- Snippet Info -->
            <mat-expansion-panel [expanded]=true>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Details
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-snippet-info [snippet]="snippet"></app-snippet-info>
            </mat-expansion-panel>
                <!-- editor-->
            <ngx-codemirror
            [(ngModel)]="snippet.content"
            [options]="{
                lineNumbers: true,
                theme: 'eclipse',
                mode: 'text/x-java'
            }"
            ></ngx-codemirror>
        </div>
        <!-- Comments pane -->
        <div class="col-lg-5 border">
            <!-- Actual comment 'box'-->
            <div class="row">
                <div class="col-lg-10">
                    <h3>Comments:</h3>
                </div>
                <div class="col-lg-2">
                    <button mat-button class="right-align">+</button>
                </div>
            </div>
            <div class="row">
                <!-- dynamically generated set of comments -->
                <div name="commentTable" class="col-lg-12" style="max-height: 700px;">
                    <ng-scrollbar>
                       <div *ngFor="let comment of snippet.comments">
                           <app-comment-panel [comment]=comment></app-comment-panel>
                       </div> 
                    </ng-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Snippet region -->
    <div class="row">
        <div class="col-lg-12">
            <!-- TODO: only visible to creator -->
            <div class="page-bottom">
                <button mat-button>Delete Snippet</button>
            </div>
        </div>
    </div>
</div>
