<!-- this component is meant to hold simple preview information about each snippet -->
<div class="Container bg-dark text-white">
    <div class="Row">
        <div class="col-md-3">
            <label>creator</label>
            <label>timestamp</label>
            <label>uuid</label>
            <label>language</label>
            <label>n comment(s)</label>
        </div>
        <div class="col-md-6 border">
            <p>partial view of the code here...</p>
        </div>
        <div class="col-md-3 border">
            <div class="Row">
                <button>Go To Full</button>
            </div>
            <div class="Row">
                <button>Delete Snippet</button>
            </div>
        </div>
    </div>
</div>