<div class="row center">
    <h2 mat-dialog-title>Password required to view this page</h2>
</div>
<div mat-dialog-content>
    <div class="row center">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="guess" placeholder="enter password..." (keyup.enter)="checkPassword()">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <div class="row center">
        <button mat-raised-button
                color="primary"
                (click)="checkPassword()">Continue</button>
        <button mat-raised-button
                color="primary"
                (click)="goHome()">Return Home</button>
    </div>
</div>